.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.github/
.idea/
.vscode/
avtomatika_history.db
avtomatika_history.db-shm
avtomatika_history.db-wal
*.log
*.png
.env
.gitignore
Makefile
requirements.txt
tests/
