# Orchestrator Configuration
ORCHESTRATOR_PORT=8080
REDIS_HOST=localhost
HISTORY_DATABASE_URI=postgresql://user:password@localhost:5432/avtomatika

# S3 / MinIO Configuration
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_DEFAULT_BUCKET=avtomatika-payloads

# Observability
ENABLE_METRICS=True
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_SERVICE_NAME=avtomatika-orchestrator

# Security (Match with example_clients.toml)
CLIENT_TOKEN=user_token_vip
